/* Listing page */
.listing-main{
  box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
  padding: 30px;
  min-height: 300px;
  
}
.action-buttons button {
  height: 31px;
    width: 30px;
    background: none;
}
.heading-row {
  background-color: #f3f4f6;
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #e5e7eb;
}

/* Careers form */
.container{
  box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
  padding: 30px;
}
