.career-page .careers-banner {
  display: flex;
  background: rgb(216, 232, 255);
  gap: 60px;
  padding: 100px 100px;
}

.career-page .img-banner {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.career-page .banner-image {
  position: relative;
}

.career-page .banner-content h1 span {
  color: #40409f;
}

.career-page .banner-filter {
  background-color: #8383ff;
  padding: 15px;
  border-radius: 5px;
}

.career-page .dropdown-filter {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.career-page .filter-location,
.career-page .filter-team {
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}
.career-page .filter-team option,
.career-page .filter-location option {
  padding-left: 15px;
}

.career-page .filter-search {
  width: calc(100% - 165px);
  margin-right: 15px;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.career-page .filter-search-btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #ffbe00;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.career-page .b-uploadcv {
  background: #fff;
  padding: 5px;
  position: absolute;
  bottom: 150px;
  left: -50px;
  border-radius: 10px;
  cursor: pointer;
}

.career-page .count-img {
  position: absolute;
  right: 20px;
  bottom: -25px;
}
.career-page .count-img img {
  border-radius: 5px;
}

@media (max-width: 768px) {
  .career-page .careers-banner {
    padding: 20px 20px;
  }
  .career-page .b-uploadcv {
    left: 0px;
  }
}


/* job category css */
.career-page .category-image{
  padding: 17px;
  background-color: #f2f0fe;
  border-radius: 8px;
}
.career-page .category-image svg{
  color:#766df4 !important;
  height: 32px;
  width: 32px;
}

/* job process css */

.career-page .process-step {
  position: relative;
}
.career-page .process-step::after {
  content: "";
  position: absolute;
  border: 1px dashed #037ec4;
  height: 60px;
  left: 17px;
  top: 45px;
}

.career-page .process-count {
  background-color: rgba(116, 120, 141, 0.15);
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #74788d;
  margin: 0;
  flex-shrink: 0;
}
.career-page .process-data p {
  color: #74788d;
}

/* Job inner */
.career-page .job-inner {
  background-color: rgb(248 249 252);
}
.career-page .job-tabs-row {
  background: #fff;
  padding: 10px;
  box-shadow: 0px 3px 10px 0px rgba(40, 48, 57, 0.08);
  border-radius: 8px;
}

.career-page .job-tab {
  font-family: "AirbnbCereal_W_Md", sans-serif;
  border: none;
  background: transparent;
  font-size: 15px;
  font-weight: 500;
  color: #151515;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
}
.career-page .job-tab.active {
  background: #037ec4;
  color: #fff;
}
.career-page .job-item {
  background: #ffff;
  padding: 15px 20px;
  box-shadow: 0 3px 10px rgba(40, 48, 57, 0.08);
  margin-bottom: 10px;
  border-radius: 10px;
}
.career-page .job-item-wrapper {
  border: 1px solid #eff0f2;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.career-page .job-item-wrapper:hover {
  border: 1px solid #037ec4;
  box-shadow: 0 3px 10px rgba(40, 48, 57, 0.08);
  transition: all 0.3s ease-in-out;
}

.career-page .job-item h4,
.career-page .job-item p {
  margin: 0;
}

.career-page .job-item img {
  border-radius: 10px;
  margin-left: 50px;
}

.career-page .job-desc {
  width: 500px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.career-page .job-location {
  font-weight: 600;
  color: #272f38;
}
.career-page .job-location span {
  font-weight: 500;
}
.career-page .more-info {
  cursor: pointer;
}
.career-page .more-info:hover {
  color: #766df4;
}
.career-page .star-icon {
  font-size: 18px;
  position: absolute;
  top: -7px;
  left: -41px;
  background: #766df4;
  height: 50px;
  transform: rotate(-45deg);
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.career-page .star-icon svg {
  color: #fff;
  font-size: 22px;
  margin-top: 7px;
}

.career-page .career-inner .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.career-page .career-inner .modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}
.career-page .career-inner .modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
