.career-page .careers-banner {
  display: flex;
  background: #f0effd;
  gap: 60px;
  padding: 50px 100px;
}

.career-page .img-banner {
  width: 100%;
  height: 450px;
  border-radius: 50px;
}
.career-page .banner-image {
  position: relative;
  margin-top: -20px;
}

.career-page .banner-content h1 span {
  color: #40409f;
}

.career-page .banner-filter {
  background-color: #8383ff;
  padding: 15px;
  border-radius: 5px;
}

.career-page .dropdown-filter {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.career-page .filter-location,
.career-page .filter-team {
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}
.career-page .filter-team option,
.career-page .filter-location option {
  padding-left: 15px;
}

.career-page .filter-search {
  width: calc(100% - 165px);
  margin-right: 15px;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.career-page .filter-search-btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #ffbe00;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.career-page .b-uploadcv {
  background: #fff;
  padding: 5px;
  position: absolute;
  bottom: 150px;
  left: -50px;
  border-radius: 10px;
  cursor: pointer;
}

.career-page .count-img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.career-page .count-img img {
  border-radius: 5px;
}

/* job category css */
.job-category {
  transition: all 0.5s ease;
}

.job-category:hover {
  transform: translateY(-8px);
}
.career-page .category-image {
  padding: 17px;
  background-color: #f2f0fe;
  border-radius: 8px;
}
.career-page .category-image svg {
  color: #766df4 !important;
  height: 32px;
  width: 32px;
}

/* job process css  how work*/

.how-work {
  background: #f8f9fc;
}

.process-container {
  width: 45% !important;
}

.career-page .process-step {
  position: relative;
}
.career-page .process-step::after {
  content: "";
  position: absolute;
  border: 1px dashed #037ec4;
  height: 60px;
  left: 17px;
  top: 45px;
}

.career-page .process-count {
  background-color: rgba(116, 120, 141, 0.15);
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #74788d;
  margin: 0;
  flex-shrink: 0;
}
.career-page .process-data p {
  color: #74788d;
}

/* Job inner */
.job-inner {
  background-color: rgb(248 249 252);
  background: #f8f9fc;
}
.job-tabs-row {
  background: #fff;
  padding: 10px;
  box-shadow: 0px 3px 10px 0px rgba(40, 48, 57, 0.08);
  border-radius: 8px;
}

.job-tab {
    color: #151515;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 10px;
    padding: 10px 18px;
    font-family: 'AirbnbCereal', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.job-tab.active {
  background: #037ec4;
  color: #fff;
}
.job-item {
  background: #ffff;
  padding: 15px 20px;
  box-shadow: 0 3px 10px rgba(40, 48, 57, 0.08);
  margin-bottom: 10px;
  border-radius: 10px;
}
.job-item-wrapper {
  border: 1px solid #eff0f2;
  transition: all 0.5s ease;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.job-item-wrapper:hover {
  border: 1px solid #766df4;
  box-shadow: 0 3px 10px rgba(40, 48, 57, 0.08);
  transform: translateY(-8px);
}

 .job-item h4,
.job-item p {
  margin: 0;
}

.job-item .job-img {
  border-radius: 10px;
  margin-left: 50px;
}

.job-desc {
  width: 500px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.job-location {
  font-weight: 600;
  color: #272f38;
}
.job-location span {
  font-weight: 500;
}
.more-info {
  cursor: pointer;
}
 .more-info:hover {
  color: #766df4;
}
 .star-icon {
  font-size: 18px;
  position: absolute;
  top: -7px;
  left: -41px;
  background: #766df4;
  height: 50px;
  transform: rotate(-45deg);
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .star-icon svg {
  color: #fff;
  font-size: 22px;
  margin-top: 7px;
}

/* Apply form css */
.apply-form-container form {
  width: 70%;
}
.apply-form-container form input {
  border-radius: 5px;
  height: 45px;
  background-color: #f0f1f3;
  border: none;
}
.apply-form-container form label {
  color: #646464 !important;
  font-size: 15px;
  font-weight: 500;
}
.apply-form-container form input:focus {
  background-color: #f0f1f3;
  box-shadow: none;
}
.apply-form-container .form-check input {
  width: 20px !important;
  height: 20px !important;
}
.Listing-heading {
  font-family: "AirbnbCereal", sans-serif;
  font-weight: 500;
  color: #111111;
  font-size: 22px;
}

 .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 900px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}
 .modal-close {
  cursor: pointer;
  border: none;
  font-size: 25px;
  position: absolute;
  top: 9px;
  right: 15px;
  background: #eb0c0c80;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.apply-btn {
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  background: #766df4;
  color: #fff;
}
.apply-btn:hover{
  background: #6c65ce;
}


@media (max-width: 768px) {
  /* banner css */

  .career-page .careers-banner {
    padding: 20px 20px;
    gap:40px;
  }
  .career-page .b-uploadcv {
    left: 0px;
  }
   .career-page .job-experience{
    text-align: left;
  }
  .career-page .job-desc{
    line-height: normal;
  }
  .career-page .banner-image {
    margin-top: 0px;
}
.career-page .img-banner {
    height: auto;
}

  /* how work */
  .process-container {
    width: 100% !important;
  }
  .work-img-container img {
    width: -webkit-fill-available;
    height: auto;
  }

  /* inner section */
   .job-tabs-row {
    overflow: overlay;
  }
  .job-item {
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    gap: 10px;
  }
  .job-item img {
    margin: auto !important;
  }
  .job-type-container p {
    width: fit-content;
  }
  .job-desc {
    -webkit-line-clamp: 2;
    width: auto;
    text-align: start;
  }
  .career-page .job-item-wrapper{
    margin: 0 0 20px 0 !important;
  }
 
}

@media (min-width: 769px) and (max-width:1024px) {

  /* career inner */
 .job-desc {
    width: 300px;
}
}
