.careers-banner {
  display: flex;
  background: rgb(216, 232, 255);
  gap: 60px;
  padding: 100px 100px;
}

.img-banner {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.banner-image {
  position: relative;
}

.banner-content h1 span {
  color: #40409f;
}

.banner-filter {
  background-color: #40409f;
  padding: 15px;
  border-radius: 5px;
}

.dropdown-filter {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.filter-location,
.filter-team {
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}
.filter-team option,
.filter-location option {
  padding-left: 15px;
}

.filter-search {
  width: calc(100% - 165px);
  margin-right: 15px;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.filter-search-btn {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #ffbe00;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.b-uploadcv {
  background: #fff;
  padding: 5px;
  position: absolute;
  bottom: 150px;
  left: -50px;
  border-radius: 10px;
  cursor: pointer;
}

.count-img {
  position: absolute;
  right: 20px;
  bottom: -25px;
}
.count-img img {
  border-radius: 5px;
}

/* job section css */

.job-category-container img{
   background: #f2daee;
   padding: 10px;
   border-radius: 5px;
}
.work-img-container img{
  width: 100%;
  height:auto;
}
.process-step{
  position:relative;
}
.process-step::after{
  content: "";
  position: absolute;
  border: 1px dashed #037EC4;
  height: 60px;
  left: 17px;
  top: 45px;
}

.process-count{
background-color: rgba(116, 120, 141, .15);
height: 35px;
width: 35px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
color: #74788d;
margin: 0;
flex-shrink: 0;
}