.jobs-icon svg{
    color: #ffa901;
    font-size: 24px;
}
.job-details-inner {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 15px;
}
.job-desc-section h3 {
    font-size: 20px;
    font-weight: 600;
}
.job-desc-section h2 {
    font-size: 16px;
    font-weight: 600;
}
.date-container .start-date p{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.job-single-banner{
    background: #1589c2;
    padding: 50px 30px;
    border-radius: 20px;
    color: #FFF;
    margin-bottom: 50px;
}
.job-single-banner .common-btn{
    width: auto;
    margin-right: auto;
}